<!DOCTYPE <!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>{{ id }} Flow Modify</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">
                <b>
                    PureFlow
                </b>
            </a>
            <a href="/logout" style="position: absolute; right: 0;" class="btn btn-primary" role="button">Logout</a>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Dashboard</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/provisioning">Provisioning</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/configuring">Configuring Flow</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">
                    <b>{{ data["deviceid"] }} Flow Modify</b>
                </h1>
            </div>
        </div>
        {% if data["openflow"] == 'OF_10' %}
        <form method="POST" action="/configuring/controller" id="form">
            <input type="hidden" readonly name="deviceid" value={{ data[ "deviceid"] }}>

            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Packet Matching Field</h4>

                    <div class="form-group">
                        <label for="in_port">In Port</label>
                        <input type="text" class="form-control" id="selector_criteria_type_in_port_value" placeholder="In Port Value" name="selector.criteria.type.in_port.value">
                        <small class="form-text text-muted">empty if not in use</small>
                    </div>

                    <div class="form-group">
                        <label for="vlan_vid">VLAN ID</label>
                        <input type="text" class="form-control" id="selector_criteria_type_vlan_vid_value" placeholder="In Port Value" name="selector.criteria.type.vlan_vid.value">
                        <small class="form-text text-muted">empty if not in use</small>
                    </div>

                    <div class="form-group">
                        <label for="eth_src">Source MAC Address</label>
                        <input type="text" class="form-control" id="selector_criteria_type_eth_src_value" placeholder="Source MAC Address" name="selector.criteria.type.eth_src.value">
                        <small class="form-text text-muted">empty if not in use</small>
                    </div>

                    <div class="form-group">
                        <label for="eth_dst">Destination MAC Address</label>
                        <input type="text" class="form-control" id="selector_criteria_type_eth_dst_value" placeholder="Destination MAC Address" name="selector.criteria.type.eth_dst.value">
                        <small class="form-text text-muted">empty if not in use</small>
                    </div>

                    <div class="form-group">
                        <label for="eth_type">Ethernet Type</label>
                        <select class="custom-select" id="selector_criteria_type_eth_type_value" name="selector.criteria.type.eth_type.value">
                            <option value="">None</option>
                            <option value="0x0800">IPv4</option>
                        </select>
                        <small class="form-text text-muted">Use this for layer 3 modification</small>
                        <small class="form-text text-muted">https://en.wikipedia.org/wiki/EtherType</small>
                    </div>

                    <div class="card ip" id="ipv4">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="ipv4_src">Source IPv4 Address</label>
                                <input type="text" class="form-control" id="selector_criteria_type_ipv4_src_value" placeholder="Source IPv4 Address" name="selector.criteria.type.ipv4_src.value">
                                <small class="form-text text-muted">empty if not in use</small>
                            </div>
                            <div class="form-group">
                                <label for="ipv4_dst">Destination IPv4 Address</label>
                                <input type="text" class="form-control" id="selector_criteria_type_ipv4_dst_value" placeholder="Destination IPv4 Address"
                                    name="selector.criteria.type.ipv4_dst.value">
                                <small class="form-text text-muted">empty if not in use</small>
                            </div>
                            <small class="form-text text-muted">Use IPv4 if you choose IPv4 in IP Protocol</small>


                            <br/>
                            <div class="form-group">
                                <label for="ip_proto">IP Protocol</label>
                                <select class="custom-select" id="selector_criteria_type_ip_proto_value" name="selector.criteria.type.ip_proto.value">
                                    <option value="">None</option>
                                    <option value="6">TCP</option>
                                    <option value="17">UDP</option>
                                </select>
                                <small class="form-text text-muted">Use this for layer 4 modification</small>
                                <small class="form-text text-muted">https://en.wikipedia.org/wiki/List_of_IP_protocol_numbers</small>
                            </div>

                            <div class="card protocol" id="tcp">
                                <div class="card-body">
                                    <div class="form-group">
                                        <label for="tcp_src">Source TCP</label>
                                        <input type="text" class="form-control" id="selector_criteria_type_tcp_src_value" placeholder="Source TCP" name="selector.criteria.type.tcp_src.value">
                                        <small class="form-text text-muted">empty if not in use</small>
                                    </div>
                                    <div class="form-group">
                                        <label for="tcp_dst">Destination TCP</label>
                                        <input type="text" class="form-control" id="selector_criteria_type_tcp_dst_value" placeholder="Destination TCP" name="selector.criteria.type.tcp_dst.value">
                                        <small class="form-text text-muted">empty if not in use</small>
                                    </div>
                                    <small class="form-text text-muted">Use TCP if you choose TCP in IP Protocol</small>
                                </div>
                            </div>

                            <div class="card protocol" id="udp">
                                <div class="card-body">
                                    <div class="form-group">
                                        <label for="udp_src">Source UDP</label>
                                        <input type="text" class="form-control" id="selector_criteria_type_udp_src_value" placeholder="Source UDP" name="selector.criteria.type.udp_src.value">
                                        <small class="form-text text-muted">empty if not in use</small>
                                    </div>
                                    <div class="form-group">
                                        <label for="udp_dst">Destination UDP</label>
                                        <input type="text" class="form-control" id="selector_criteria_type_udp_dst_value" placeholder="Destination UDP" name="selector.criteria.type.udp_dst.value">
                                        <small class="form-text text-muted">empty if not in use</small>
                                    </div>
                                    <small class="form-text text-muted">Use TCP if you choose TCP in IP Protocol</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Action</h4>

                    <div class="card">
                        <div class="card-body">

                            <div class="form-group">
                                <label for="treatment.instructions.output">Change Output Port</label>
                                <input type="text" class="form-control" id="treatment_instructions_output_value" placeholder="Output Port" name="treatment.instructions.output.value">
                                <small class="form-text text-muted">empty if not in use</small>
                            </div>

                            <div class="form-group">
                                <label for="treatment.instructions.vlanid">Change VLAN ID</label>
                                <input type="text" class="form-control" id="treatment_instructions_vlanid_value" placeholder="VLAN ID" name="treatment.instructions.vlanid.value">
                                <small class="form-text text-muted">empty if not in use</small>
                            </div>

                            <div class="form-group">
                                <label for="treatment.instructions.eth_src">Change Source MAC</label>
                                <input type="text" class="form-control" id="treatment_instructions_eth_src_value" placeholder="Source MAC Address" name="treatment.instructions.eth_src.value">
                                <small class="form-text text-muted">empty if not in use</small>
                            </div>

                            <div class="form-group">
                                <label for="treatment.instructions.eth_dst">Change Destination MAC</label>
                                <input type="text" class="form-control" id="treatment_instructions_eth_dst_value" placeholder="Destination MAC Address" name="treatment.instructions.eth_dst.value">
                                <small class="form-text text-muted">empty if not in use</small>
                            </div>

                            <div class="form-group">
                                <label for="treatment.instructions.ipv4_src">Change Source IP</label>
                                <input type="text" class="form-control" id="treatment_instructions_ipv4_src_value" placeholder="Source IP Address" name="treatment.instructions.ipv4_src.value">
                                <small class="form-text text-muted">empty if not in use</small>
                            </div>

                            <div class="form-group">
                                <label for="treatment.instructions.ipv4_dst">Change Destination IP</label>
                                <input type="text" class="form-control" id="treatment_instructions_ipv4_dst_value" placeholder="Destination IP Address" name="treatment.instructions.ipv4_dst.value">
                                <small class="form-text text-muted">empty if not in use</small>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        {% elif data["openflow"] == 'OF_13' %} {% endif %}
    </div>

    {% if data["openflow"] == 'OF_10' %}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#selector_criteria_type_in_port_value").change(function () {
                if ($("#selector_criteria_type_in_port_value").val() == "") {
                    $("#selector_criteria_type_in_port").remove();
                } else {
                    $("#selector_criteria_type_in_port").remove();
                    $("#form").append(
                        '<input type="hidden" id="selector_criteria_type_in_port" readonly name="selector.criteria.type.in_port" value="IN_PORT">'
                    )
                }
            })

            $("#selector_criteria_type_eth_src_value").change(function () {
                if ($("#selector_criteria_type_eth_src_value").val() == "") {
                    $("#selector_criteria_type_eth_src").remove();
                } else {
                    $("#selector_criteria_type_eth_src").remove();
                    $("#form").append(
                        '<input type="hidden" id="selector_criteria_type_eth_src" readonly name="selector.criteria.type.eth_src" value="ETH_SRC">'
                    )
                }
            })

            $("#selector_criteria_type_eth_dst_value").change(function () {
                if ($("#selector_criteria_type_eth_dst_value").val() == "") {
                    $("#selector_criteria_type_eth_dst").remove();
                } else {
                    $("#selector_criteria_type_eth_dst").remove();
                    $("#form").append(
                        '<input type="hidden" id="selector_criteria_type_eth_dst" readonly name="selector.criteria.type.eth_dst" value="ETH_DST">'
                    )
                }
            })

            $("#selector_criteria_type_vlan_vid_value").change(function () {
                if ($("#selector_criteria_type_vlan_vid_value").val() == "") {
                    $("#selector_criteria_type_vlan_vid").remove();
                } else {
                    $("#selector_criteria_type_vlan_vid").remove();
                    $("#form").append(
                        '<input type="hidden" id="selector_criteria_type_vlan_vid" readonly name="selector.criteria.type.vlan_vid" value="VLAN_VID">'
                    )
                }
            })

            $("#selector_criteria_type_eth_type_value").change(function () {
                if ($("#selector_criteria_type_eth_type_value").val() == "") {
                    $("#selector_criteria_type_eth_type").remove();
                    $("#selector_criteria_type_ipv4_dst").remove();
                    $("#selector_criteria_type_ipv4_src").remove();
                    $("#selector_criteria_type_ip_proto").remove();
                    $("#selector_criteria_type_udp_src").remove();
                    $("#selector_criteria_type_tcp_src").remove();
                    $("#selector_criteria_type_udp_dst").remove();
                    $("#selector_criteria_type_tcp_dst").remove();
                } else {
                    $("#selector_criteria_type_eth_type").remove();
                    $("#selector_criteria_type_ipv4_dst").remove();
                    $("#selector_criteria_type_ipv4_src").remove();
                    $("#selector_criteria_type_ip_proto").remove();
                    $("#selector_criteria_type_udp_src").remove();
                    $("#selector_criteria_type_tcp_src").remove();
                    $("#selector_criteria_type_udp_dst").remove();
                    $("#selector_criteria_type_tcp_dst").remove();
                    $("#form").append(
                        '<input type="hidden" id="selector_criteria_type_eth_type" readonly name="selector.criteria.type.eth_type" value="ETH_TYPE">'
                    )
                }
            })

            $("#selector_criteria_type_ipv4_src_value").change(function () {
                if ($("#selector_criteria_type_ipv4_src_value").val() == "") {
                    $("#selector_criteria_type_ipv4_src").remove();
                } else {
                    $("#selector_criteria_type_ipv4_src").remove();
                    $("#form").append(
                        '<input type="hidden" id="selector_criteria_type_ipv4_src" readonly name="selector.criteria.type.ipv4_src" value="IPV4_SRC">'
                    )
                }
            })

            $("#selector_criteria_type_ipv4_dst_value").change(function () {
                if ($("#selector_criteria_type_ipv4_dst_value").val() == "") {
                    $("#selector_criteria_type_ipv4_dst").remove();
                } else {
                    $("#selector_criteria_type_ipv4_dst").remove();
                    $("#form").append(
                        '<input type="hidden" id="selector_criteria_type_ipv4_dst" readonly name="selector.criteria.type.ipv4_dst" value="IPV4_DST">'
                    )
                }
            })

            $("#selector_criteria_type_ip_proto_value").change(function () {
                if ($("#selector_criteria_type_ip_proto_value").val() == "") {
                    $("#selector_criteria_type_ip_proto").remove();
                    $("#selector_criteria_type_udp_src").remove();
                    $("#selector_criteria_type_tcp_src").remove();
                    $("#selector_criteria_type_udp_dst").remove();
                    $("#selector_criteria_type_tcp_dst").remove();
                } else {
                    $("#selector_criteria_type_ip_proto").remove();
                    $("#selector_criteria_type_udp_src").remove();
                    $("#selector_criteria_type_tcp_src").remove();
                    $("#selector_criteria_type_udp_dst").remove();
                    $("#selector_criteria_type_tcp_dst").remove();
                    $("#form").append(
                        '<input type="hidden" id="selector_criteria_type_ip_proto" readonly name="selector.criteria.type.ip_proto" value="IP_PROTO">'
                    )
                }
            })

            $("#selector_criteria_type_udp_src_value").change(function () {
                if ($("#selector_criteria_type_udp_src_value").val() == "") {
                    $("#selector_criteria_type_udp_src").remove();
                } else {
                    $("#selector_criteria_type_udp_src").remove();
                    $("#form").append(
                        '<input type="hidden" id="selector_criteria_type_udp_src" readonly name="selector.criteria.type.udp_src" value="UDP_SRC">'
                    )
                }
            })

            $("#selector_criteria_type_udp_dst_value").change(function () {
                if ($("#selector_criteria_type_udp_dst_value").val() == "") {
                    $("#selector_criteria_type_udp_dst").remove();
                } else {
                    $("#selector_criteria_type_udp_dst").remove();
                    $("#form").append(
                        '<input type="hidden" id="selector_criteria_type_udp_dst" readonly name="selector.criteria.type.udp_dst" value="UDP_DST">'
                    )
                }
            })

            $("#selector_criteria_type_tcp_src_value").change(function () {
                if ($("#selector_criteria_type_tcp_src_value").val() == "") {
                    $("#selector_criteria_type_tcp_src").remove();
                } else {
                    $("#selector_criteria_type_tcp_src").remove();
                    $("#form").append(
                        '<input type="hidden" id="selector_criteria_type_tcp_src" readonly name="selector.criteria.type.tcp_src" value="TCP_SRC">'
                    )
                }
            })

            $("#selector_criteria_type_tcp_dst_value").change(function () {
                if ($("#selector_criteria_type_tcp_dst_value").val() == "") {
                    $("#selector_criteria_type_tcp_dst").remove();
                } else {
                    $("#selector_criteria_type_tcp_dst").remove();
                    $("#form").append(
                        '<input type="hidden" id="selector_criteria_type_tcp_dst" readonly name="selector.criteria.type.tcp_dst" value="TCP_DST">'
                    )
                }
            })

            // Action Selector
            $("#treatment_instructions_output_value").change(function () {
                if ($("#treatment_instructions_output_value").val() == "") {
                    $("#treatment_instructions_output").remove();
                } else {
                    $("#treatment_instructions_output").remove();
                    $("#form").append(
                        '<input type="hidden" id="treatment_instructions_output" readonly name="treatment.instructions.output" value="OUTPUT">'
                    )
                }
            })

            $("#treatment_instructions_vlanid_value").change(function () {
                if ($("#treatment_instructions_vlanid_value").val() == "") {
                    $("#treatment_instructions_vlanid").remove();
                    $("#treatment_instructions_vlanid_subtype").remove();
                } else {
                    $("#treatment_instructions_vlanid").remove();
                    $("#treatment_instructions_vlanid_subtype").remove();
                    $("#form").append(
                        '<input type="hidden" id="treatment_instructions_vlanid" readonly name="treatment.instructions.vlanid" value="L2MODIFICATION">'
                    )
                    $("#form").append(
                        '<input type="hidden" id="treatment_instructions_vlanid_subtype" readonly name="treatment.instructions.vlanid.subtype" value="VLAN_ID">'
                    )
                }
            })

            $("#treatment_instructions_eth_src_value").change(function () {
                if ($("#treatment_instructions_eth_src_value").val() == "") {
                    $("#treatment_instructions_eth_src").remove();
                    $("#treatment_instructions_eth_src_subtype").remove();
                } else {
                    $("#treatment_instructions_eth_src").remove();
                    $("#treatment_instructions_eth_src_subtype").remove();
                    $("#form").append(
                        '<input type="hidden" id="treatment_instructions_eth_src" readonly name="treatment.instructions.eth_src" value="L2MODIFICATION">'
                    )
                    $("#form").append(
                        '<input type="hidden" id="treatment_instructions_eth_src_subtype" readonly name="treatment.instructions.eth_src.subtype" value="ETH_SRC">'
                    )
                }
            })

            $("#treatment_instructions_eth_dst_value").change(function () {
                if ($("#treatment_instructions_eth_dst_value").val() == "") {
                    $("#treatment_instructions_eth_dst").remove();
                    $("#treatment_instructions_eth_dst_subtype").remove();
                } else {
                    $("#treatment_instructions_eth_dst").remove();
                    $("#treatment_instructions_eth_dst_subtype").remove();
                    $("#form").append(
                        '<input type="hidden" id="treatment_instructions_eth_dst" readonly name="treatment.instructions.eth_dst" value="L2MODIFICATION">'
                    )
                    $("#form").append(
                        '<input type="hidden" id="treatment_instructions_eth_dst_subtype" readonly name="treatment.instructions.eth_dst.subtype" value="ETH_DST">'
                    )
                }
            })

            $("#treatment_instructions_ipv4_src_value").change(function () {
                if ($("#treatment_instructions_ipv4_src_value").val() == "") {
                    $("#treatment_instructions_ipv4_src").remove();
                    $("#treatment_instructions_ipv4_src_subtype").remove();
                } else {
                    $("#treatment_instructions_ipv4_src").remove();
                    $("#treatment_instructions_ipv4_src_subtype").remove();
                    $("#form").append(
                        '<input type="hidden" id="treatment_instructions_ipv4_src" readonly name="treatment.instructions.ipv4_src" value="L3MODIFICATION">'
                    )
                    $("#form").append(
                        '<input type="hidden" id="treatment_instructions_ipv4_src_subtype" readonly name="treatment.instructions.ipv4_src.subtype" value="IPV4_SRC">'
                    )
                }
            })

            $("#treatment_instructions_ipv4_dst_value").change(function () {
                if ($("#treatment_instructions_ipv4_dst_value").val() == "") {
                    $("#treatment_instructions_ipv4_dst").remove();
                    $("#treatment_instructions_ipv4_dst_subtype").remove();
                } else {
                    $("#treatment_instructions_ipv4_dst").remove();
                    $("#form").append(
                        '<input type="hidden" id="treatment_instructions_ipv4_dst" readonly name="treatment.instructions.ipv4_dst" value="L3MODIFICATION">'
                    )
                    $("#form").append(
                        '<input type="hidden" id="treatment_instructions_ipv4_dst_subtype" readonly name="treatment.instructions.ipv4_dst.subtype" value="IPV4_DST">'
                    )
                }
            })

            // Hidden for form fuction
            $(".ip").hide()
            $("#selector_criteria_type_eth_type_value").change(function () {
                $(".ip").hide();

                switch ($("#selector_criteria_type_eth_type_value option:selected").val()) {
                    case "0x0800":
                        {
                            $("#ipv4").show();
                            break;
                        }
                    case "":
                        {
                            $(".ip").hide();
                            break;
                        }
                }
            })

            $(".protocol").hide()
            $("#selector_criteria_type_ip_proto_value").change(function () {
                $(".protocol").hide();

                switch ($("#selector_criteria_type_ip_proto_value option:selected").val()) {
                    case "6":
                        {
                            $("#tcp").show();
                            break;
                        }
                    case "17":
                        {
                            $("#udp").show();
                            break;
                        }
                    case "":
                        {
                            $(".protocol").hide();
                            break;
                        }
                }
            })
        });
    </script>

    {% elif data["openflow"] == 'OF_13' %}
    <script type="text/javascript">
        $(document).ready(function () {
            // default state, show aa only
            $(".ip").hide()

            $("#ip").change(function () {
                $(".ip").hide();

                switch ($("#ip option:selected").val()) {
                    case "0x0800":
                        {
                            $("#ipv4").show();
                            break;
                        }
                    case "0x86DD":
                        {
                            $("#ipv6").show();
                            break;
                        }
                }
            })
        });
    </script>

    {% endif %}

</body>

</html>