<!DOCTYPE <!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Provisioning Device</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">
                <b>
                    PureFlow
                </b>
            </a>
            <a href="/logout" style="position: absolute; right: 0;" class="btn btn-primary" role="button" >Logout</a>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Dashboard</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/provisioning">Provisioning</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <h1 class="display-5">Configuring Devices</h1>
              <p class="lead">List of Device available to configure!</p>
            </div>
          </div>
        
        <div class="card-deck" style="width: 30rem;">
            {% for device in data["devices"] %}
            <div class="card">
                <div class="card-header bg-transparent border-success">{{ device["id"] }}</div>
                <div class="card-body">
                    <h5 class="card-title">{{ device["annotations"]["managementAddress"] }}</h5>
                    <p class="card-text">{{ device["mfr"] }}</p>
                    <p class="card-text">{{ device["sw"] }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>

</html>